<html>
    <Body style="background-color: rgb(167, 210, 230);">
        <H1>
            Please Enter The Valle Lead Number for PDF : 
            <br><br>
            <form action="/generate-pdf" method="post">
                <label>Valle Lead Number</label>
                <input type="text" name="valle_lead_number"></input><br>
                <label>Institute Lead Number</label>
                <input type="text" name="insititute_lead_number"></input><br>
                <label>Organisation Name</label>
                <input type="text" name="organisation_name"></input><br>
                <label for="tentative_report">Tentative Report:</label>
                <select id="tentative_report" name="tentative_report">
                    <option value="false" selected>False</option>
                    <option value="true">True</option>
                </select>
                <button type="submit" style="width: 500px; height: 40px;">Generate PDF</button>
            </form>
        </H1>
    </Body>
</html>